@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<EditForm Model="currentPlayer" OnSubmit="EnterLobby">
	<div>
		<label for="currentPlayerName">What is your name?</label>
		<InputText id="currentPlayerName" @bind-Value="currentPlayer.Name" class="form-control"></InputText>
	</div>
	<br />
	<button type="submit" class="btn btn-success">Enter</button>
</EditForm>

@code {
	Player currentPlayer = new();

	private List<Player>? Lobby;

	protected override async Task OnInitializedAsync()
	{
		await SummonTheLobby();
	}

	private async Task EnterLobby()
	{
		if (Lobby != null)
		{
			foreach (var listedPlayer in Lobby)
			{
				if (currentPlayer.Name != null && listedPlayer.Name != null && listedPlayer.Name.ToLower() == currentPlayer.Name.ToLower())
				{
					currentPlayer = listedPlayer;
				}
				else
				{
					await RecruitCurrentPlayer();
				}
			}
		}
		else if (Lobby == null || Lobby.Count < 1)
		{
			await RecruitCurrentPlayer();
		}

		await Task.Delay(1);

		NavigationManager.NavigateTo($"/game/{currentPlayer.Id}");
	}

	protected async Task RecruitCurrentPlayer()
	{
		await Http.PostAsJsonAsync("api/Lobby", currentPlayer);
	}

	protected async Task SummonTheLobby()
	{
		var a = await Http.GetFromJsonAsync<List<Player>>("api/Lobby");
		await Task.Delay(1);
	}
}