.minesweeper-game div {
    line-height: 0;
    font-size: 0;
    float: left;
}

.minesweeper-board {
    display: inline-block;
    font-family: Arial;
    background-color: silver;
}

.minesweeper-board div {
    background-image: url(../images/minesweeper-sprites.png);
}

.cell {
    min-width: .9999cm;
    min-height: .9999cm;
    max-width: 1cm;
    max-height: 1cm;
}

.empty{
    background-position: 0cm 0cm
}

.pressed {
    background-position: 0cm 0cm
}

.unrevealed {
    background-position: -1cm 0cm;
}

.flagged {
    background-position: -2cm 0cm;
}

.mine-detonated {
    background-position: -3cm 0cm;
}

.misflagged-mine {
    background-position: -4cm 0cm;
}

.mine-missed {
    background-position: -5cm 0cm;
}


.questioned {
    background-position: -6cm 0cm;
}

.questioned-pressed {
    background-position: -7cm 0cm;
}

.mines-nearby-0 {
    background-position: 0cm -0cm;
}

.mines-nearby-1 {
    background-position: -0cm -1cm;
}

.mines-nearby-2 {
    background-position: -1cm -1cm;
}

.mines-nearby-3 {
    background-position: -2cm -1cm;
}

.mines-nearby-4 {
    background-position: -3cm -1cm;
}

.mines-nearby-5 {
    background-position: -4cm -1cm;
}

.mines-nearby-6 {
    background-position: -5cm -1cm;
}

.mines-nearby-7 {
    background-position: -6cm -1cm;
}

.mines-nearby-8 {
    background-position: -7cm -1cm;
}