.minesweeper-game div {
    line-height: 0;
    font-size: 0;
    float: left;
}

.minesweeper-board {
    display: inline-block;
    font-family: Arial;
    background-color: silver;
}

.minesweeper-medium {
    width: 276px;
    height: 318px;
}

.minesweeper-board div {
    background-image: url(../images/minesweeper-sprites.png);
}

.minesweeper-gamepiece {
    min-width: 1cm;
    min-height: 1cm;
    max-width: 1cm;
    max-height: 1cm;
    font-size: 0px;
}

.minesweeper-unrevealed {
    background-position: -1cm -0px;
}

.minesweeper-flagged {
    background-position: -1cm -1cm;
}

.minesweeper-mine {
    background-position: -64px -39px;
}

.minesweeper-mine-smiley {
    background-image: url("../smiley-small.png");
}

.minesweeper-0 {
    background-position: 0px -23px;
}

.minesweeper-1 {
    background-position: -16px -23px;
}

.minesweeper-2 {
    background-position: -32px -23px;
}

.minesweeper-3 {
    background-position: -48px -23px;
}

.minesweeper-4 {
    background-position: -64px -23px;
}

.minesweeper-5 {
    background-position: -80px -23px;
}

.minesweeper-6 {
    background-position: -96px -23px;
}

.minesweeper-7 {
    background-position: -112px -23px;
}

.minesweeper-8 {
    background-position: -128px -23px;
}
